/* Reset default styles for the body */
/* Reset default styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #ff5733;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.etsystatic.com%2F17107555%2Fr%2Fil%2F954b3b%2F2078960953%2Fil_1588xN.2078960953_qvwb.jpg&f=1&nofb=1&ipt=9919e95be45d6d4dd096d2f3d5cc535bc0baab3f05885592f82fcf75ff088cd6&ipo=images');
}


/* Unified container styles */
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-repeat: no-repeat; /* Adjust to your preference */
    background-position: center; /* Adjust to your preference */
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Style for the header text with a background color */
header h1 {
    background-color: #ff5733; /* Replace with your desired background color */
    padding: 0.2rem 0.5rem; /* Adjust padding as needed */
    display: inline; /* Make the background color only cover the text content */
    color: #fff; /* Set the text color within the header h1 element */
}

/* Style for the search form */
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}


/* Style for search results */
.results {
    margin-top: 1rem;
}