<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Marvel Vs DC Analyses</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a> <!-- Update this line -->
    <a href="/q1.html">Character Alignment Analyses</a>
    <a href="/q2.html">Character Count Analyses</a>
    <a href="/q3.html">Characters Appearances and Films</a>
    <a href="/q4.html">Film MPA Analyses</a>
</div>
</body>
</html>